.buttonChild,
.sampleLogo {
  position: absolute;
  top: 14px;
  left: -527px;
  width: 122.1px;
  height: 32px;
}
.buttonChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-orangered);
}
.register {
  position: absolute;
  top: 27.5%;
  left: 26.15%;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: black; /* Set text color to black */
}
.button {
  position: absolute;
  top: 10px;
  left: 1225px;
  width: 130px;
  height: 40px;
  cursor: pointer;
}
.alumniLogoE14557455316861Icon {
  position: absolute;
  top: 9px;
  left: 71px;
  width: 167px;
  height: 36px;
  object-fit: cover;
}
.navigationC {
  position: absolute;
  top: 7px;
  left: 2px;
  background-color: var(--white-branco);
  width: 1438px;
  height: 60px;
  overflow: hidden;
  text-align: center;
}
.login1 {
  position: absolute;
  height: 45%;
  width: 47.69%;
  top: 27.4%;
  left: 26.14%;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black; /* Set text color to black */
}
.button1 {
  position: absolute;
  top: 524px;
  left: 792px;
  width: 459px;
  height: 50px;
  cursor: pointer;
  text-align: center;
}
.footer,
.footerChild {
  position: absolute;
  left: 0;
}
.footerChild {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-orangered);
}
.footer {
  top: 778px;
  width: 1440px;
  height: 204px;
}
.iconsSuccess {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.check {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.email {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.labelCheck {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.helperText {
  position: relative;
  font-size: var(--description-descrio-size);
  line-height: 24px;
  color: var(--gray-2-cinza-2);
  display: none;
  width: 328px;
}
.labelCheckHelperText {
  position: absolute;
  top: 313px;
  left: 793px;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--label-rtulo-size);
  color: var(--gray-3-cinza-3);
  font-family: var(--description-descrio);
}
.password1 {
  margin: 0;
}
.labelCheckHelperText1 {
  position: absolute;
  top: 398px;
  left: 793px;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--label-rtulo-size);
  color: var(--gray-3-cinza-3);
  font-family: var(--description-descrio);
}
.alumni1Icon {
  position: absolute;
  top: 323px;
  left: 23px;
  width: 549px;
  height: 240px;
  object-fit: cover;
}
.login2 {
  position: absolute;
  top: 221px;
  left: 1007px;
  font-size: var(--font-size-25xl);
  line-height: 60px;
  display: inline-block;
  font-family: var(--font-heebo);
  color: var(--dark-color);
  width: 258px;
  height: 54px;
}
.image7Icon {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 63px;
  height: 63px;
  object-fit: cover;
}
.containerDefault {
  border: 1px solid var(--gray-2-cinza-2);
  outline: 0;
  position: absolute;
  top: 353px;
  left: 792px;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 459px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.containerDefault,
.containerDefault1,
.login {
  background-color: var(--white-branco);
  overflow: hidden;
}
.containerDefault1 {
  border: 1px solid var(--gray-2-cinza-2);
  outline: 0;
  position: absolute;
  top: 439px;
  left: 793px;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  width: 459px;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.login {
  position: relative;
  width: 100%;
  height: 982px;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--white-branco);
  font-family: var(--font-montserrat);
}
input {
  color: black;
}